<template>
  <header class="header">
    <nav class="header__nav-bar">
      <div class="header__nav-link-1">
        <a>HOME</a>
        <a>ABOUT</a>
        <a>TEAM</a>
        <a>BOOKING</a>
      </div>
      <div class="header__img">
        <img
          class="header__img-wheel"
          src="../assets/img/steering_wheel.png"
          alt="Wheel"
        />
      </div>
      <div class="header__nav-link-2">
        <a>MENU</a>
        <a>GALERIE</a>
        <a>EVENTS</a>
        <a>CONTACT</a>
      </div>
    </nav>
  </header>
</template>
<script>
export default {
  name: "name",
  props: [],
};
</script>

<style lang="scss" scoped>
.header {
  background-image: url("../assets/img/header_bg.png");
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  position: absolute;

  &__nav-bar {
    display: grid;
    grid-template-areas:
      "nav-1 img nav-2"
      ". . .";
    grid-template-rows: auto 150px;
    grid-template-columns: 530px 150px 530px;

    width: 1280px;
    margin: auto;
    padding: 0;

    color: white;
    font-family: open sans;
    font-size: 12px;
    font-weight: 700;

    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__nav-link-1 {
    display: flex;
    grid-area: nav-1;
    justify-content: space-around;
    a {
      margin: -60px;
    }
    margin: 20px 0 0 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__nav-link-2 {
    display: flex;
    grid-area: nav-2;
    justify-content: space-around;
    a {
      margin: -60px;
    }
    margin: 20px 0 0 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__img-wheel {
    grid-area: img;
    padding: 25px 0 0;
  }


}
</style>
