<template>
  <div id="app">
    <Header msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import Header from './components/Header.vue'

export default {
  name: 'App',
  components: {
    Header
  }
}
</script>

<style>

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
  font-family: "Banny-Bold";
  src: url("./assets/fonts/Banny-BoldRound.woff");
}

#app {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
</style>
